* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/img/sign1.png.png);
    background-size: cover;
}

.container {
    background:transparent;
    color: black;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    border:2px solid black;
    backdrop-filter: blur(10px);

}

h2 {
    color: #2ecc71;
}

p {
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

.name-fields {
    display: flex;
    justify-content: space-between;
}

.name-fields input {
    width: 48%;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

.password-field {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

button {
    background: #2ecc71;
    border: none;
    padding: 10px;
    color:black;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.signin-text {
    margin-top: 15px;
}

.signin-text a {
    color: #2ecc71;
    text-decoration: none;
}